:root {

    /**
     * colors
     */
/*   
     --mainTextColor-light:rgb(36, 36, 36);
     --secondaryTextColor-light:rgb(51 51 51);
     --mainLinkColor-light:#d8a524;
     --secondaryLinkColor-light:#d8a52431;
     --mainBorderColor-light:rgb(218, 218, 218);
     --mainBgColor-light:rgb(249, 250, 251);
     --secondaryBgColor-light:rgba(249, 250, 251, 0.923);
  
     --mainTextColor-dark:#fff;
     --secondaryTextColor-dark:#c8c8c8;
     --mainLinkColor-dark:rgb(30, 190, 214);
     --secondaryLinkColor-dark:rgba(30, 189, 214, 0.137);
     --mainBorderColor-dark:#2b3031;
     --mainBgColor-dark:#131415;
     --secondaryBgColor-dark:#131415cf;
  
     --mainTextColor:var(--mainTextColor-light);
     --secondaryTextColor:var(--secondaryTextColor-light);
     --mainLinkColor:var(--mainLinkColor-light);
     --secondaryLinkColor:var(--secondaryLinkColor-light);
     --mainBorderColor:var(--mainBorderColor-light);
     --mainBgColor:var(--mainBgColor-light);
     --secondaryBgColor:var(--secondaryBgColor-light);
   */
    /**
     * typography
     */
/*   
    --fs-1: calc(2.7rem + 1.38vw);
    --fs-2: calc(2.6rem + .66vw);
    --fs-3: calc(2.6rem + .24vw);
    --fs-4: 1.9rem;
    --fs-5: 1.8rem;
    --fs-6: 1.7rem;
    --fs-7: 1.5rem;
    --fs-8: 1.4rem;
    
    --fw-700: 700; */
  
    /**
     * spacing
     */
/*   
    --section-padding: 90px;
   */
    /**
     * box shadow
     */
/*   
    --shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
    --shadow-2: 0 4px 28px hsla(216, 14%, 14%, 0.07); */
  
    /**
     * border radius
     */
/*   
    --radius-circle: 50%;
    --radius-pill: 100px;
    --radius-8: 8px;
    --radius-6: 6px; */
  
    /**
     * transition
     */
  
    /* --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 0.3s ease-in-out;
  
  }
  
  [data-theme="light"] {
    --mainTextColor:var(--mainTextColor-light);
    --secondaryTextColor:var(--secondaryTextColor-light);
    --mainLinkColor:var(--mainLinkColor-light);
    --secondaryLinkColor:var(--secondaryLinkColor-light);
    --mainBorderColor:var(--mainBorderColor-light);
    --mainBgColor:var(--mainBgColor-light);
    --secondaryBgColor:var(--secondaryBgColor-light)
  }
  
*/
  
}