:root {
    --primary-color: rgb(0, 153, 51); /* This is a deep green color that evokes feelings of growth, health, and nature. */
    --fourth-color: rgb(255, 99, 71); /* This is a bright orange-red color that evokes feelings of warmth, energy, and excitement. */
    --third-color: rgb(255, 203, 6); /* This is a bright gold color that evokes feelings of wealth, luxury, and sophistication. */
    --secondary-color: rgb(255, 153, 51); /* This is a warm orange color that evokes feelings of cheerfulness, positivity, and friendliness. */
    --text-color: #333333; /* dark gray */
    --secondary-text-color: #fff; /* dark gray */
    --background-color: #F5F5F5; /* light gray */
  }